/* 
1. style the header
2. style the text
3. style the cards

*/


/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(img/back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.bingo_title
{
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}


button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(67, 0, 99);
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn_start { 
    top: 40px;

    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}


.btn_start_decks { 
    top: 40px;

    font-size: 35px;
    background: none;
    border: none;
    color: rgb(18, 21, 204);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}
.pickedball
{
    text-align: center;
}
/**********************************************
*** CARD DECKS PART
**********************************************/

.bottom {
    width: 100%;
    height: 60vh;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    background-color: green;
    background-position: center;
}

.leftside{

    width: 50%;
    float: left;
    background: white;  
    height: 600px;
    padding: 0px;
}

.rightside {

    width: 50%;
    float: right;
    background: blueviolet;  
    height: 600px;
    padding: 0px;
    position:center;
}

.playercard
{
    padding: 20px;
    position: center;
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    background: gray;
    height: 30vh;
}
.deck
{
    height: 9vh;
    padding: 1px;
    width: 100%;
    overflow: hidden;
    background: burlywood;
}
.numberbox
{
    height: 10vh;
    width: 19vh;
    border: 1cm;
    margin-right: 1px;
    background-color: #EB4D4D;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    float: left;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}